# Game dump directory
/game/

# npm data
/node_modules/
/package-lock.json

# dev temp files
/src/.data/
.antlr

# output
/index.js
/index.js.map
/index.html
/index.css
/favicon.ico
/jquery.min.js
/config.js

# iis test config
/web.config
