#base {
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="1280" height="720"/></g></svg>');
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="1280" height="720"/></g></svg>');
    height: 720px;
    width:1280px;
}
#bgdiv {
    height: 720px;
    width: 1280px;
    position: absolute;
}
#bgimg {
    position: absolute;
    z-index: 100;
}
#imagediv {
    position: absolute;
}

#imagediv div{
    position: absolute;
}

#imagediv img{
    position: absolute;
}

#camera {
    position: relative;
    height: 720px;
    width: 1280px;
}